<style>
  .me-2 {
    margin-right: 10px;
  }
</style>


<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 20px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="margin-right: 50%;">SISTEMA DE GESTÃO</a>
    <form class="d-flex" method="post" action="/search">
      <input class="form-control me-2" name="pesquisa" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success" type="submit">Search</button>
      <select class="btn btn" style="margin-left: 10px;">
        <option><a href="#">Login</a></option>
        <option><a href="#">Admin</a></option>
        <option><a href="#">Suporte</a></option>
      </select>
    </form>
  </div>
  </div>
</nav>